@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.add-component-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: space-between; }
  .add-component-container .text-type-tools {
    display: flex;
    position: absolute;
    right: 5px;
    animation: fadeIn .3s ease-in; }
    .add-component-container .text-type-tools div {
      margin: 0 5px;
      padding: 0 5px;
      color: #1D2129;
      opacity: 0.4;
      font-size: 14px;
      cursor: pointer; }
