@import '../imports';

.add-component-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: space-between;
 
  .text-type-tools {
    display: flex;
    position: absolute;
    right: 5px;
    animation: fadeIn .3s ease-in;
    div {
      margin: 0 5px;
      padding: 0 5px;
      color: $primary-color;
      opacity: 0.4;	
      font-size: $t4-text;
      cursor: pointer;
    }
  }
}