@import "../imports";

.divider.edit {
  width: 100%;
  height: 15px;
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 5px;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: $gray-bg;
  }

  .separator {
    width: 100%;
    border: 1px solid #ececec;
  }
}

.divider.read {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px 0;

  .separator {
    width: 100%;
    border: 1px solid #ececec;
  }
}
