@import '../imports';

.divider.edit {
  width: 100%;
  height: 15px;
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 5px;
  transition: background-color .2s linear;
  &:hover {
    background-color:  $gray-bg;
  }
  .sperator {
    width: 100%;
    border: 1px solid #ECECEC;
  } 
}

.divider.read {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px 0;
  .sperator {
    width: 100%;
    border: 1px solid #ECECEC;
  } 
}



