.dropdown-fade-enter {
  opacity: 0;
  transform: scale(0.9); }

.dropdown-fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms; }

.dropdown-fade-exit {
  opacity: 0.5; }

.dropdown-fade-exit-active {
  opacity: 1;
  transition: opacity 300ms; }

.fade-enter {
  opacity: 0;
  transform: scale(0.9); }

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms; }

.fade-exit {
  opacity: 1; }

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms; }

.dropdown-wrapper {
  position: relative; }
  .dropdown-wrapper .dropdown-value {
    padding: 5px;
    background-color: #F4F5F7;
    border-radius: 1px;
    color: #1D2129;
    font-size: 14px;
    cursor: pointer; }
  .dropdown-wrapper .dropdown-input input {
    width: 100%;
    padding: 5px 2px;
    color: #1D2129;
    font-size: 14px;
    border: 1px solid #D4D4D4;
    box-sizing: border-box; }
    .dropdown-wrapper .dropdown-input input:focus {
      outline-color: #037EF3; }
  .dropdown-wrapper .dropdown-body {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    padding: 0 5px;
    max-height: 320px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    z-index: 10; }
    .dropdown-wrapper .dropdown-body .dropdown-item {
      margin: 5px 0;
      padding: 7px 5px;
      color: #1D2129;
      font-family: "Open Sans";
      font-size: 14px;
      transition: background-color .2s linear;
      cursor: pointer; }
      .dropdown-wrapper .dropdown-body .dropdown-item:hover {
        background-color: #F4F5F7; }
