@import '../imports';

.cm-embed {
  .embed-input-field {
    display: flex;
    align-items: center;
    width: 55%;
    margin: 2px 0;
    padding: 5px;
    color: $light-text;
    font-size: $t6-text;
    transition: background-color .3s linear;
    cursor: pointer;
    &:hover {
      background-color: $gray-bg;
    }
    &:focus-within {
      background-color: transparent;
    }
    .embed-icon {
      margin-right: 7px;
    }
    .embed-input {
      width: 100%;
      font-size: $t6-text;
      border: none;
      background-color: transparent;
      &::placeholder {
        color: $light-text;
        font-size: $t4-text;
      }
      &:focus {
        outline: none;
      }
    }
  }

  iframe {
    border: none;
  }

  .edit {
    margin: 5px 0;
  }

  .read {
    width: 100%;
    margin: 5px 0;
  }
}

