@import '../imports';

.cm-embed {
  display: inline-flex;
  align-items: center;
  margin: 2px 0;
  padding: 5px;
  color: $light-text;
  font-size: $t6-text;
  background-color: $gray-bg;
  transition: background-color .3s linear;
  cursor: pointer;
  &:hover {
    background-color: transparent;
  }

  .embed-icon {
    margin-right: 7px;
  }

  .embed-input {
    font-size: $t6-text;
    border: none;
    background-color: transparent;
    &::placeholder {
      color: $light-text;
    }
    &:focus {
      outline: none;
    }
  }
}