@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.cm-emoji-container {
  position: relative;
  width: 85px;
  height: 85px;
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 1px;
  transition: background-color .3s linear;
  z-index: 10;
  cursor: pointer; }
  .cm-emoji-container:hover {
    background-color: #F4F5F7; }
  .cm-emoji-container img {
    width: 100%;
    height: 100%; }
