[contenteditable]:empty:before {
  content: attr(placeholder);
  display: block; }

[contenteditable] {
  -webkit-tap-highlight-color: transparent; }

.cm-header1 {
  color: #37352f;
  caret-color: #37352f;
  font-size: 1.875em;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.002em;
  margin: 2px 0 1px;
  padding: 3px 2px; }
  .cm-header1:focus {
    outline: none; }

.cm-header2 {
  color: #37352f;
  caret-color: #37352f;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.002em;
  margin: 2px 0 1px;
  padding: 3px 2px; }
  .cm-header2:focus {
    outline: none; }

.cm-header3 {
  color: #37352f;
  caret-color: #37352f;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.002em;
  margin: 2px 0 1px;
  padding: 3px 2px; }
  .cm-header3:focus {
    outline: none; }
