.cm-header1 {
  font-size: 1.875em;
  padding: 3px 2px;
  color: #37352f;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.002em;
  -webkit-text-fill-color: rgba(55, 53, 47, 0.2); }
  .cm-header1:focus {
    outline: none; }

[contenteditable]:empty:before {
  content: attr(placeholder);
  display: block; }

[contenteditable] {
  -webkit-tap-highlight-color: transparent; }
