.dropdown-fade-enter {
  opacity: 0;
  transform: scale(0.9); }

.dropdown-fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms; }

.dropdown-fade-exit {
  opacity: 0.5; }

.dropdown-fade-exit-active {
  opacity: 1;
  transition: opacity 300ms; }

.fade-enter {
  opacity: 0;
  transform: scale(0.9); }

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms; }

.fade-exit {
  opacity: 1; }

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms; }

.cm-header1.edit {
  position: relative;
  color: #1D2129;
  font-size: 1.875em;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.2;
  letter-spacing: -0.002em;
  margin: 2px 0 20px;
  padding: 4px 2px;
  caret-color: #1D2129;
  cursor: text;
  -webkit-text-fill-color: black;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: #F4F5F7;
  transition: background-color .3s linear; }
  .cm-header1.edit:empty {
    -webkit-text-fill-color: #9EA0A4; }
  .cm-header1.edit:focus {
    outline: none; }
  .cm-header1.edit:empty {
    background-color: transparent; }
  .cm-header1.edit:focus {
    background-color: transparent; }

.cm-header1.read {
  margin: 2px 0 20px;
  position: relative;
  color: #1D2129;
  font-size: 1.875em;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.2;
  letter-spacing: -0.002em;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word; }

.cm-header2.edit {
  position: relative;
  color: #1D2129;
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.2;
  letter-spacing: -0.002em;
  margin: 2px 0;
  padding: 4px 2px;
  caret-color: #1D2129;
  cursor: text;
  -webkit-text-fill-color: black;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: #F4F5F7;
  transition: background-color .3s linear; }
  .cm-header2.edit:empty {
    -webkit-text-fill-color: #9EA0A4; }
  .cm-header2.edit:focus {
    outline: none; }
  .cm-header2.edit:empty {
    background-color: transparent; }
  .cm-header2.edit:focus {
    background-color: transparent; }

.cm-header2.read {
  position: relative;
  color: #1D2129;
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.2;
  letter-spacing: -0.002em;
  margin: 2px 0;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word; }

.cm-header3.edit {
  position: relative;
  color: #1D2129;
  font-size: 1.25em;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.2;
  letter-spacing: -0.002em;
  margin: 2px 0;
  padding: 4px 2px;
  caret-color: #1D2129;
  cursor: text;
  -webkit-text-fill-color: black;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: #F4F5F7;
  transition: background-color .3s linear; }
  .cm-header3.edit:empty {
    -webkit-text-fill-color: #9EA0A4; }
  .cm-header3.edit:focus {
    outline: none; }
  .cm-header3.edit:empty {
    background-color: transparent; }
  .cm-header3.edit:focus {
    background-color: transparent; }

.cm-header3.read {
  position: relative;
  color: #1D2129;
  font-size: 1.25em;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.2;
  letter-spacing: -0.002em;
  margin: 2px 0;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word; }
