@import '../imports.scss';

.cm-header1.edit {
  @include heading-font($h1-text, $w6-text);
  margin:  2px 0 20px;
  padding: 4px 2px;
  @include editable-style;
  @include text-wrapping;
  line-height: 34px;
}

.cm-header1.read {
  margin: 2px 0 24px;
  @include heading-font($h1-text, $w6-text);
  @include text-wrapping;
  line-height: 34px;
}

.cm-header2.edit {
  @include heading-font($h2-text, $w6-text);
  margin: 2px 0;
  padding: 4px 2px;
  @include editable-style;
  @include text-wrapping;
  line-height: 28px;
}

.cm-header2.read {
  @include heading-font($h2-text, $w6-text);
  margin: 2px 0 10px;
  @include text-wrapping;
  line-height: 28px;
}

.cm-header3.edit {
  @include heading-font($h3-text, $w6-text);
  margin: 2px 0;
  padding: 4px 2px;
  @include editable-style;
  @include text-wrapping;
}

.cm-header3.read {
  @include heading-font($h3-text, $w6-text);
  margin: 2px 0;
  @include text-wrapping;
}