[contenteditable]:empty:before {
  content: attr(placeholder);
  display: block; }

[contenteditable] {
  -webkit-tap-highlight-color: transparent; }

.cm-header2 {
  color: #37352f;
  caret-color: #37352f;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.002em;
  padding: 3px 2px; }
  .cm-header2:focus {
    outline: none; }
