@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.cm-header1.edit {
  position: relative;
  color: #1D2129;
  font-size: 1.875em;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.2;
  letter-spacing: -0.002em;
  margin: 14px 0 1px;
  padding: 3px 2px;
  caret-color: #1D2129;
  cursor: text;
  -webkit-text-fill-color: black;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: #F4F5F7;
  transition: background-color .3s linear; }
  .cm-header1.edit:empty {
    -webkit-text-fill-color: #9EA0A4; }
  .cm-header1.edit:focus {
    outline: none; }
  .cm-header1.edit:empty {
    background-color: transparent; }
  .cm-header1.edit:focus {
    background-color: transparent; }

.cm-header1.read {
  margin: 14px 0 1px;
  position: relative;
  color: #1D2129;
  font-size: 1.875em;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.2;
  letter-spacing: -0.002em;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word; }

.cm-header2.edit {
  position: relative;
  color: #1D2129;
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.2;
  letter-spacing: -0.002em;
  margin: 16px 0 1px;
  padding: 3px 2px;
  caret-color: #1D2129;
  cursor: text;
  -webkit-text-fill-color: black;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: #F4F5F7;
  transition: background-color .3s linear; }
  .cm-header2.edit:empty {
    -webkit-text-fill-color: #9EA0A4; }
  .cm-header2.edit:focus {
    outline: none; }
  .cm-header2.edit:empty {
    background-color: transparent; }
  .cm-header2.edit:focus {
    background-color: transparent; }

.cm-header2.read {
  position: relative;
  color: #1D2129;
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.2;
  letter-spacing: -0.002em;
  margin: 16px 0 1px;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word; }

.cm-header3.edit {
  position: relative;
  color: #1D2129;
  font-size: 1.25em;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.2;
  letter-spacing: -0.002em;
  margin: 8px 0 1px;
  padding: 3px 2px;
  caret-color: #1D2129;
  cursor: text;
  -webkit-text-fill-color: black;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: #F4F5F7;
  transition: background-color .3s linear; }
  .cm-header3.edit:empty {
    -webkit-text-fill-color: #9EA0A4; }
  .cm-header3.edit:focus {
    outline: none; }
  .cm-header3.edit:empty {
    background-color: transparent; }
  .cm-header3.edit:focus {
    background-color: transparent; }

.cm-header3.read {
  position: relative;
  color: #1D2129;
  font-size: 1.25em;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.2;
  letter-spacing: -0.002em;
  margin: 8px 0 1px;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word; }

.text-selection-tool {
  position: absolute;
  top: -25px;
  display: flex;
  border-radius: 2px;
  background-color: #52565E;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); }
  .text-selection-tool .tool-btn {
    font-size: 14px;
    padding: 5px;
    margin: 0 4px;
    color: #FFFFFF;
    cursor: pointer; }
  .text-selection-tool .bold-tool-btn {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    margin: 0 4px;
    color: #FFFFFF;
    line-height: 17px;
    cursor: pointer; }
  .text-selection-tool .divider {
    border: 1px solid #1D2129;
    opacity: 0.2; }
