@import '../imports';

.cm-o-list {
    width: 100%;
    padding: 0 5px;
    // transition: background-color .2s linear;
    // &:hover {
    //     background: $gray-bg;
    // }
    // &:focus-within {
    //     background-color: transparent;
    // }
    span {
        align-self: center;
        color: $primary-color;
        font-size: $t4-text;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

.list-span-focus {
    width: 100%;
    padding: 0 5px;
    transition: background-color .2s linear;
    // &:hover {
    //     background: $gray-bg;
    // }
    // &:focus-within {
    //     background-color: transparent;
    // }
    span {
        align-self: center;
        color: $primary-color;
        font-size: $t4-text;
        margin-right: 5px;
    }
}

.cm-u-list {
    width: 100%;
    padding: 0 5px;
    transition: background-color .2s linear;
    &:hover {
        background: $gray-bg;
    }
    &:focus-within {
        background-color: transparent;
    }
   .bulleted-dot {
        align-self: center;
        width: 6px;
        height: 6px;
        margin-right: 10px;
        background-color: $primary-color;
        border-radius: 50%; 
   }
}