.dropdown-fade-enter {
  opacity: 0;
  transform: scale(0.9); }

.dropdown-fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms; }

.dropdown-fade-exit {
  opacity: 0.5; }

.dropdown-fade-exit-active {
  opacity: 1;
  transition: opacity 300ms; }

.fade-enter {
  opacity: 0;
  transform: scale(0.9); }

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms; }

.fade-exit {
  opacity: 1; }

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms; }

.cm-text-block {
  color: #1D2129;
  font-size: 16px;
  margin: 2px 0;
  padding: 4px 2px;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: #1D2129;
  cursor: text;
  -webkit-text-fill-color: black;
  font-family: 'Open Sans', sans-serif !important;
  background-color: #F4F5F7;
  transition: background-color .3s linear; }
  .cm-text-block:empty {
    -webkit-text-fill-color: #9EA0A4; }
  .cm-text-block:focus {
    outline: none; }
  .cm-text-block:empty {
    background-color: transparent; }
  .cm-text-block:focus {
    background-color: transparent; }
