@import '../imports';

.cm-text-block.edit  {
  color: $primary-color;
  font-size: $t6-text;
  line-height: 24px;
  margin: 2px 0;
  padding: 4px 2px;
  @include text-wrapping;
  @include editable-style; 
  font-family: 'Open Sans', sans-serif !important; 
  // background-color: transparent;
  // transition: background-color .3s linear;
  // &:hover {
  //   background-color: $gray-bg;
  // }
  // &::placeholder  {
  //   color: transparent !important;
  // }
  // &:focus {
  //   background-color: transparent;
  // }
  a {
    text-decoration: underline;
    color: #037EF3;
    cursor: pointer;
  }
}

.cm-text-block.read  {
  color: $primary-color;
  font-size: $t6-text;
  margin-bottom: 5px;
  line-height: 24px;
  @include text-wrapping;
  font-family: 'Open Sans', sans-serif !important; 
  a {
    text-decoration: underline;
    color: #037EF3;
    cursor: pointer;
  }
}