.dropdown-fade-enter {
  opacity: 0;
  transform: scale(0.9); }

.dropdown-fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms; }

.dropdown-fade-exit {
  opacity: 0.5; }

.dropdown-fade-exit-active {
  opacity: 1;
  transition: opacity 300ms; }

.fade-enter {
  opacity: 0;
  transform: scale(0.9); }

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms; }

.fade-exit {
  opacity: 1; }

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms; }

.cm-title.read {
  width: 100%;
  min-height: 20px;
  white-space: pre-wrap;
  word-break: break-word;
  color: #1D2129;
  font-weight: bold;
  font-size: 38px;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 46px; }

.cm-title.edit {
  width: 100%;
  min-height: 20px;
  white-space: pre-wrap;
  word-break: break-word;
  padding: 3px 2px;
  color: #1D2129;
  font-weight: bold;
  font-size: 38px;
  background-color: transparent;
  transition: background-color .3s linear;
  caret-color: #1D2129;
  -webkit-text-fill-color: black;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 54px; }
  .cm-title.edit:hover {
    cursor: text; }
  .cm-title.edit:empty {
    -webkit-text-fill-color: #9EA0A4; }
  .cm-title.edit:focus {
    outline: none; }
  .cm-title.edit:hover {
    background-color: #F4F5F7; }
  .cm-title.edit:focus {
    background-color: transparent; }

.cm-title.edit[contenteditable]:empty:before {
  content: attr(placeholder) !important;
  display: block !important; }
