@import '../imports.scss';

.cm-title {
  @include text-wrapping;
  padding: 4px 2px;
  color: $primary-color;
  font-weight: $w6-text;
  font-size: $title-text;
  background-color: $gray-bg;
  transition: background-color .3s linear;
  @include editable-style;
  &:focus {
    background-color: transparent;
  }
}