@import "../imports";

.cm-uploader {
  margin: 2px 0;
  padding: 5px;
  color: $light-text;
  font-size: $t6-text;
  font-family: "Open Sans", sans-serif !important;
  span {
    margin-right: 7px;
  }
}

.cm-uploader.read {
  width: 100%;
  margin: 8px 0px;

  .external-image {
    img {
      max-width: 100%;
    }
  }
}

.cm-uploader.edit {
  transition: background-color 0.3s linear;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background-color: $gray-bg;
  }

  .CircularProgressbar {
    width: 14px;
    height: 14px;
    padding-left: 10px;
    .CircularProgressbar-path {
      stroke: #037ef3;
    }
  }

  .file-data-loader {
    display: flex;
    padding-top: 4px;
    .file-data-loader-percent {
      color: #037ef3;
      padding-top: -3px;
      padding-left: 2px;
      font-size: 12px;
    }
  }
  .external-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
    }
  }
  .image-upload {
    display: flex;
    .file-data-loader-section {
      position: relative;
      .file-data-loader {
        display: flex;
        position: absolute;
        padding-top: 4px;
        margin-left: 5px;
        height: 20px;
        width: 60px;
        bottom: 0;
        left: 0;
        background-color: #1d2129;
        .CircularProgressbar {
          width: 14px;
          height: 14px;
          .CircularProgressbar-path {
            stroke: #ffffff;
          }
        }
        .file-data-loader-percent {
          color: #ffffff;
          padding-top: -3px;
          padding-left: 2px;
          font-size: 12px;
        }
      }
    }
  }
}

.file-data-section {
  display: flex;
  height: 55px;
  .file-data-information {
    display: block;
    padding-left: 5px;
    .file-data-name {
      font-size: 16px;
      color: #1d2129;
      text-align: left;
    }
    .file-data-extension {
      padding-top: 5px;
      color: #9ea0a4;
      display: flex;
    }
  }
  .file-data-icon {
    width: 55px;
    height: 100%;
    .file-data-icon-img {
      width: 100%;
      height: 100%;
    }
  }
}
