@import '../imports';

.cm-uploader {
  margin: 2px 0;
  padding: 5px;
  color: $light-text;
  font-size: $t6-text;
  font-family: 'Open Sans', sans-serif !important;
  background-color: $gray-bg;
  transition: background-color .3s linear;
  cursor: pointer;
  &:hover {
    background-color: transparent;
  }
  span {
    margin-right: 7px;
  }
}