@import '../imports';

.cm-uploader {
  margin: 2px 0;
  padding: 5px;
  color: $light-text;
  font-size: $t6-text;
  font-family: 'Open Sans', sans-serif !important;
  span {
    margin-right: 7px;
  }
}

.cm-uploader.read {
  width: 100%;
  margin: 8px 0px;
}

.cm-uploader.edit {
  width: 55%;
  transition: background-color .3s linear;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background-color: $gray-bg;
  }
}