.dropdown-fade-enter {
  opacity: 0;
  transform: scale(0.9); }

.dropdown-fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms; }

.dropdown-fade-exit {
  opacity: 0.5; }

.dropdown-fade-exit-active {
  opacity: 1;
  transition: opacity 300ms; }

.fade-enter {
  opacity: 0;
  transform: scale(0.9); }

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms; }

.fade-exit {
  opacity: 1; }

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms; }

.cm-code-block {
  width: 100%;
  cursor: text;
  background-color: #f8f8f8 !important; }
  .cm-code-block [contenteditable] {
    outline: none; }
  .cm-code-block .hljs {
    margin: 0px; }
  .cm-code-block select {
    float: right; }
  .cm-code-block .language-selector {
    width: fit-content;
    float: right; }
    .cm-code-block .language-selector .search-input {
      height: auto !important;
      padding: 4px 24px;
      background-color: #f8f8f8 !important; }
    .cm-code-block .language-selector .arrow-icon {
      right: 6px !important;
      top: 10px !important; }
    .cm-code-block .language-selector .cm-select-options {
      left: auto !important;
      width: 150px; }

.cm-code-block.edit {
  margin: 2px 0;
  padding: 4px 2px; }

.cm-code-block.read {
  margin: 2px 0;
  padding: 4px 2px; }
