.dropdown-fade-enter {
  opacity: 0;
  transform: scale(0.9); }

.dropdown-fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms; }

.dropdown-fade-exit {
  opacity: 0.5; }

.dropdown-fade-exit-active {
  opacity: 1;
  transition: opacity 300ms; }

.fade-enter {
  opacity: 0;
  transform: scale(0.9); }

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms; }

.fade-exit {
  opacity: 1; }

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms; }

*::selection {
  background-color: #B2D7FF; }

.cm-page-builder {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif !important;
  margin: 0; }

[contenteditable]:empty:before {
  content: attr(placeholder);
  display: block; }

[contenteditable] {
  -webkit-tap-highlight-color: transparent; }

.text-selection-tool {
  position: absolute;
  display: inline-flex;
  border-radius: 2px;
  background-color: #52565E;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); }
  .text-selection-tool .tool-btn {
    font-size: 14px;
    padding: 5px;
    margin: 0 4px;
    color: #FFFFFF;
    cursor: pointer; }
  .text-selection-tool .bold-tool-btn {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    margin: 0 4px;
    color: #FFFFFF;
    line-height: 17px;
    cursor: pointer; }
  .text-selection-tool .divider {
    border: 1px solid #1D2129;
    opacity: 0.2; }
