* {
  box-sizing: border-box;
  caret-color: #1D2129;
  font-family: 'Open Sans', sans-serif; }

body {
  margin: 0; }

[contenteditable]:empty:before {
  content: attr(placeholder);
  display: block; }

[contenteditable] {
  -webkit-tap-highlight-color: transparent; }
