@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

[class^="cm-"], [class*=" cm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cm-expa' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cm-lv:before {
  content: "\e95d"; }

.cm-list:before {
  content: "\e95b"; }

.cm-bubble-chart:before {
  content: "\e95c"; }

.cm-events:before {
  content: "\e95a"; }

.cm-home:before {
  content: "\e959"; }

.cm-demographic:before {
  content: "\e955"; }

.cm-funnel:before {
  content: "\e956"; }

.cm-hourglass:before {
  content: "\e957"; }

.cm-percent:before {
  content: "\e958"; }

.cm-picture:before {
  content: "\e954"; }

.cm-send-button:before {
  content: "\e953"; }

.cm-feedback:before {
  content: "\e94f"; }

.cm-lifebuoy:before {
  content: "\e950"; }

.cm-question:before {
  content: "\e951"; }

.cm-support:before {
  content: "\e952"; }

.cm-foreign:before {
  content: "\e94e"; }

.cm-download-file:before {
  content: "\e94d"; }

.cm-uservoice:before {
  content: "\e94c"; }

.cm-copy:before {
  content: "\e94b"; }

.cm-pulse:before {
  content: "\e94a"; }

.cm-bold:before {
  content: "\e93d"; }

.cm-bullets:before {
  content: "\e93e"; }

.cm-code:before {
  content: "\e93f"; }

.cm-decrease-level:before {
  content: "\e940"; }

.cm-heading:before {
  content: "\e941"; }

.cm-increase-level:before {
  content: "\e942"; }

.cm-italic:before {
  content: "\e943"; }

.cm-link:before {
  content: "\e944"; }

.cm-numbers:before {
  content: "\e945"; }

.cm-quote:before {
  content: "\e946"; }

.cm-redo:before {
  content: "\e947"; }

.cm-strikethrough:before {
  content: "\e948"; }

.cm-undo:before {
  content: "\e949"; }

.cm-warning:before {
  content: "\e93c"; }

.cm-sort:before {
  content: "\e93b"; }

.cm-contract:before {
  content: "\e938"; }

.cm-email-circle:before {
  content: "\e939"; }

.cm-phone-circle:before {
  content: "\e93a"; }

.cm-right-arrow-long:before {
  content: "\e937"; }

.cm-no-results:before {
  content: "\e936"; }

.cm-approve:before {
  content: "\e92f"; }

.cm-break:before {
  content: "\e930"; }

.cm-trash:before {
  content: "\e931"; }

.cm-draft:before {
  content: "\e932"; }

.cm-open:before {
  content: "\e933"; }

.cm-realise:before {
  content: "\e934"; }

.cm-minus:before {
  content: "\e935"; }

.cm-academic-experience:before {
  content: "\e92d"; }

.cm-professional-experience:before {
  content: "\e92e"; }

.cm-applications:before {
  content: "\e914"; }

.cm-assign:before {
  content: "\e915"; }

.cm-bed:before {
  content: "\e916"; }

.cm-calendar:before {
  content: "\e917"; }

.cm-circle-no:before {
  content: "\e918"; }

.cm-circle-yes:before {
  content: "\e919"; }

.cm-details:before {
  content: "\e91a"; }

.cm-fa:before {
  content: "\e91b"; }

.cm-information:before {
  content: "\e91c"; }

.cm-laptop:before {
  content: "\e91d"; }

.cm-lda:before {
  content: "\e91e"; }

.cm-line-chart:before {
  content: "\e91f"; }

.cm-ln:before {
  content: "\e920"; }

.cm-location:before {
  content: "\e921"; }

.cm-conversations:before {
  content: "\e922"; }

.cm-nps:before {
  content: "\e923"; }

.cm-overview:before {
  content: "\e924"; }

.cm-pencil-edit-button:before {
  content: "\e925"; }

.cm-remove:before {
  content: "\e926"; }

.cm-standards:before {
  content: "\e927"; }

.cm-star-o:before {
  content: "\e928"; }

.cm-star:before {
  content: "\e929"; }

.cm-tasks:before {
  content: "\e92a"; }

.cm-timeline:before {
  content: "\e92b"; }

.cm-tw:before {
  content: "\e92c"; }

.cm-arrow-left:before {
  content: "\e911"; }

.cm-arrow-right:before {
  content: "\e912"; }

.cm-arrow-up:before {
  content: "\e913"; }

.cm-close:before {
  content: "\e90f"; }

.cm-notification:before {
  content: "\e910"; }

.cm-plus-circle:before {
  content: "\e90e"; }

.cm-actions:before {
  content: "\e900"; }

.cm-arrow-down:before {
  content: "\e901"; }

.cm-asterisk:before {
  content: "\e902"; }

.cm-columns:before {
  content: "\e903"; }

.cm-filter:before {
  content: "\e904"; }

.cm-membership:before {
  content: "\e905"; }

.cm-office:before {
  content: "\e906"; }

.cm-people:before {
  content: "\e907"; }

.cm-chart:before {
  content: "\e908"; }

.cm-search:before {
  content: "\e909"; }

.cm-settings:before {
  content: "\e90a"; }

.cm-tick:before {
  content: "\e90b"; }

.cm-user:before {
  content: "\e90c"; }

.cm-worldwide:before {
  content: "\e90d"; }

* {
  box-sizing: border-box;
  caret-color: #1D2129;
  font-family: 'Open Sans', sans-serif; }
  *::selection {
    background-color: #B2D7FF; }

body {
  margin: 0; }

[contenteditable]:empty:before {
  content: attr(placeholder);
  display: block; }

[contenteditable] {
  -webkit-tap-highlight-color: transparent; }
