@import './variables.scss';

@mixin heading-font($fontSize, $fontWeight) {
  color: $primary-color;
  font-size: $fontSize;
  font-weight: $fontWeight;
  background-color: $gray-bg;
  line-height: 1.2;
  letter-spacing: -0.002em;
  transition: background-color .3s linear;
  &:focus {
    background-color: transparent;
  }
}

@mixin text-wrapping {
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
}

@mixin chip-style {
  padding: 5px;
  background-color: $gray-bg;
  border-radius: 1px;
}

@mixin editable-style {
  caret-color: $primary-color;
  cursor: text;
  -webkit-text-fill-color: #9EA0A4;
  &:focus {
    outline: none;
  }
}