@import './variables.scss';

@mixin heading-font($fontSize, $fontWeight) {
  color: $primary-color;
  caret-color: $primary-color;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: 1.2;
  letter-spacing: -0.002em;
}

@mixin text-wrapping {
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
}

@mixin chip-style {
  padding: 5px;
  background-color: $gray-bg;
  border-radius: 1px;
}