@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.page-root-container {
  max-width: 710px;
  margin: 30px auto 0; }
  .page-root-container .page-container {
    width: 100%; }
    .page-root-container .page-container .page-info {
      display: flex;
      align-items: center;
      margin: 10px 0 38px; }
      .page-root-container .page-container .page-info .current-user-detail {
        display: inline-flex;
        align-items: center;
        padding: 5px;
        background-color: #F4F5F7;
        border-radius: 1px; }
        .page-root-container .page-container .page-info .current-user-detail img {
          width: 20px;
          height: 20px;
          vertical-align: middle;
          border-radius: 50%; }
        .page-root-container .page-container .page-info .current-user-detail .user-name {
          color: #1D2129;
          font-size: 14px;
          margin: 0 0 0 4px; }
      .page-root-container .page-container .page-info .date-updated {
        padding: 5px;
        background-color: #F4F5F7;
        border-radius: 1px;
        color: #1D2129;
        font-size: 14px; }
      .page-root-container .page-container .page-info .seprator-dot {
        width: 4px;
        height: 4px;
        opacity: 0.4;
        background-color: #1D2129;
        border-radius: 50%;
        margin: 0 14px; }
