@import './imports';

.page-root-container {
    max-width: 710px;
    margin: 10px auto 60px; 
    .page-container {
        width: 100%;
        .page-info {
            display: flex;
            align-items: center;
            margin: 25px 0 38px;
            .current-user-detail {
                display: inline-flex;
                align-items: center;
                img {
                    width: 20px;
                    height: 20px;
                    vertical-align: middle;
                    border-radius: 50%;
                }
                .user-name {
                    color: $primary-color;	
                    font-size: $t4-text;
                    margin: 0 0 0 4px;
                }
            }
            .date-updated {
                color: $primary-color;	
                font-size: $t4-text;
            }
            .seprator-dot {
                width: 4px;	
                height: 4px;
                opacity: 0.4;
                background-color: $primary-color;
                border-radius: 50%;
                margin: 0 14px;
            }
        }
    }

    .component-section {
        display: flex;
        position: relative;
        width: 100%;
        .component-dragger {
          position: absolute;
          top: 10px;
          left: -30px;
          font-size: $t4-text;
          color: $primary-color;
          opacity: .4;
        }
    }
    .bulleted-dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
    }
}