@import './imports';

.page-root-container {
    max-width: 710px;
    margin: 10px auto 0; 
    .page-container {
        width: 100%;
        .page-info {
            display: flex;
            align-items: center;
            margin: 25px 0 38px;
            .current-user-detail {
                display: inline-flex;
                align-items: center;
                img {
                    width: 20px;
                    height: 20px;
                    vertical-align: middle;
                    border-radius: 50%;
                }
                .user-name {
                    color: $primary-color;	
                    font-size: $t4-text;
                    margin: 0 0 0 4px;
                }
            }
            .date-updated {
                color: $primary-color;	
                font-size: $t4-text;
            }
            .seprator-dot {
                width: 4px;	
                height: 4px;
                opacity: 0.4;
                background-color: $primary-color;
                border-radius: 50%;
                margin: 0 14px;
            }
        }
    }

    .component-section.read {
        display: flex;
        position: relative;
        width: 100%;
        padding-left: 10px;
        a {
            text-decoration: underline;
            color: #037EF3;
            cursor: pointer;
          }
    }
    .component-section.edit {
        display: flex;
        position: relative;
        width: 100%;
        padding-left: 10px;
        transition: background-color .2s linear;
        &:hover {
            background-color: #f4f5f7;
        }
        a {
            text-decoration: underline;
            color: #037EF3;
            cursor: pointer;
          }
    }
}