
//color variables
$primary-color: #1D2129;
$light-text: #A8AAAD;
$white: #FFFFFF;
$gray-bg: #F4F5F7;
$blue: #037EF3;

//typhography size variables
$h1-text: 24px;
$h2-text: 20px;
$h3-text: 1.25em;
$title-text: 38px;

$t4-text: 14px;
$t6-text: 16px;
$t8-text: 18px;

//typhography weight variables
$w6-text: 600;
$bold-text: bold;

$dropdown-shadow: 0 2px 8px rgba(0,0,0,0.15);
$round-2: 2px;